
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  text-align: center;
  text-transformation: uppercase;
  letter-spacing: 0.1em;
}

li a.fixed {
  position: absolute;
  bottom: 25px;
  padding: 4px 8px 4px 8px;
  background-color: #333;
  text-align: center;
  text-transformation: uppercase;
  letter-spacing: 0.1em;
  width: 100%
}
li a.signature{
   position: absolute;
   bottom: 10px;
   background-color: #333 rga(0,0,0,0);
   text-align: center;
   text-transformation: uppercase;
   letter-spacing: 0.6em;
   font-size: 10px;
   color: #444;
}

li a:hover:not(.signature){
    background-color: royalblue;
}
