body{
    background-color: aliceblue;
    
}
.logo{
    top: 0px;
    height: 25px;
    width: 100%;
    
}

.designby{
    color: #77a2e6;    
    font-size: 20px;
    opacity: 100%;
    margin-left: 520px;
    margin-top: 25px;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: absolute;
    font-family: 'Amatic SC', cursive;

}

.jloli{ 
    left: 600px;
    top: -10px;
    font-size: 50px;
    opacity: 40%;
    position: absolute;
    font-family: 'Bad Script', cursive;

}

.picture{
    
    width: 100%;
    height: 700px;
    
}

.desktop-screen{
    background-color: gainsboro;
    width: 650px;
    height: 350px;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 300px;
    position: absolute;
}

.desktop-inner{
    background-color: azure;
    width: 600px;
    height: 300px;
    border-radius: 25px;
    margin-left: 25px;
    top: 25px;
    position: relative;
}

.website-navbar{
    width: 90%;
    height: 25px;
    background-color: coral;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    position: absolute;
}

.website-first{
    width: 300px;
    height: 150px;
    background-image: url("Design1.png");
    background-size: cover;
    margin-top: 45px;
    margin-left: 25px;
    position: absolute;
    border: 5px solid darkseagreen;    
}

.label{
    opacity: 0%;
    width: 300px;
    height: 150px;
    position: absolute;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;

}

.website-first:hover{
    background-color: darkseagreen;
    display: block;
    background-image: none;

}

.label:hover{
    opacity: 100%;
    display:block;
}

.show-label{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

.website-second{
    width: 150px;
    height: 160px;
    position: absolute;
    background-color: crimson;
    margin-top: 45px;
    margin-left: 340px;
}

.website-third{
    width: 70px;
    height: 160px;
    position: absolute;
    background-color:cadetblue;
    margin-top: 45px;
    margin-left: 495px;
    margin-right: 25px;
}

.website-fourth{
    width: 90%;
    height: 75px;
    background-color: orchid;
    margin-top: 210px;
    margin-left: 25px;
    margin-right: 25px;
    position: absolute;
}

.desktop-stand{
    border-bottom: 100px solid lightgray;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 200px;
    margin-top: -300px;
    margin-left: 500px;
    position: relative;

}
.desktop-base{
    background-color: grey;
    width: 250px;
    margin-top: 0px;
    margin-left: 500px;
    height: 10px;
    position: relative;

}

.table{
    background-color: rosybrown;
    width: 95%;
    height: 15px;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 50px;
    position: relative;

}

.whole-lamp{
    width: 500px;
    height: 500px;
    top: 20px;
    left: 5px;
    position: absolute;
}

.lamp-base{
    width: 50px;
    height: 200px;
    background-color: silver;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    transform: rotate(270deg);
    margin-bottom: 10px;
    left: 150px;
    bottom: -85px;
    position: absolute;
}
.lamp-btopper{
    width: 50px;
    height: 75px;
    margin-top: 0px;
    left: 150px;
    bottom: 15px;
    background-color: gray;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-left: 0;
    transform: rotate(270deg);
    position: absolute;
    
}

.lamp-lowerarm{
    width: 300px;
    height: 20px;
    background-color: silver;
    transform: rotate(55deg);
    bottom: 129px;
    left: -40px;
    position: absolute;
}

.lamp-middle{
    width: 50px;
    height: 50px;
    background: silver;
    border-radius: 50%;
    position: absolute;
    top: 200px;
}

.middle{
    width: 30px;
    height: 30px;
    background: aquamarine;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}
.lamp-upperarm{
    width: 150px;
    height: 20px;
    background-color: silver;
    transform: rotate(300deg);
    bottom: 350px;
    left: 0px;
    position: absolute;  
}

.lamp-headconnect{
    width: 50px;
    height: 50px;
    top: 50px;
    left: 100px;
    bottom: 15px;
    background-color: gray;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-left: 0;
    transform: rotate(150deg);
    position: absolute;
}

.lamp-head{
    width: 75px;
    height: 75px;
    background-color: silver;
    position: absolute;
    top: 19px;
    left: 120px;
    transform: rotate(240deg);
}

.lamp-cone{
    border-bottom: 100px solid silver;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 40px;
    width: 75px;
    transform: rotate(330deg);
    left: 129px;
    top: 44px;
    position: absolute;
}

.light1{
    border-bottom: 100px solid yellow;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 125px;
    width: 120px;
    transform: rotate(330deg);
    left: 129px;
    top: 44px;
    position: relative;
    opacity: 0%;
}

.light1:hover{
    display:block;
    opacity: 50%;
}

.aboutme{
    width: 95.5%;
    height: 150px;
    top: 550px;
    margin-left: 15px;
    margin-right: 25px;
    position: absolute;

}

.aboutme-label{
    margin-top: 40px;
    margin-left: 0px;
    transform: rotate(270deg);
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    position: absolute;

}

.aboutme-text{
    font-family: 'Amatic SC', cursive;
    position: absolute;
    margin-top: 0px;
    margin-left: 100px;
    font-size: 25px;
}

.aboutme-sign{
    font-family: 'Bad Script', cursive;
    position: absolute;
    margin-top: 75px;
    margin-left: 400px;
    font-size: 50px;
    opacity: 75%;
}
